body { background: url('../images/bgBody.png') repeat top center #f7f7f7; }

a { cursor: pointer; }

var { font-style: normal; }

address { margin: 0; }

h1, h2 { font-family: 'SegoeUILight', 'Open Sans', Helvetica, Arial, sans-serif; }
h5 { font-weight: bold; margin-bottom: 0; }
