.legend { margin-bottom: 20px;
    .legend-item {
        .legend-object { float: left; display: block; margin-right: 5px; }
        .legend-body { display: block;overflow: hidden; zoom: 1; }
    }
}
