$blue:#0071CE;
$gray:#76777B;
$yellow:#FFCE00;

/*$lightblue: #24B5D4;
$lightblue-hover: #4299AD;

$darkblue-hover: #09192B;
$midblue: #234A69;
$paleblue: #BADBED;
$lightgreen: #9AC652;
$palegreen: #CEE5AF;
$lightgreen-hover: #8eba40;
$orange: #EF6431;
$orange-hover: #F06D33;*/