@model List<Country>
@{
    ViewBag.Title = "About";
}

<img src="http://placehold.it/1300x300" class="img-responsive">
<h2>About @Identity.Owner.FirstName</h2>
<p>Deleniti vituperatoribus pri ex. Homero fierent has at, harum laboramus nam at. Aliquip percipit lobortis in eam, apeirian imperdiet vituperata mea ei. Velit tation no ius, has reque denique phaedrum no. Nam tempor lucilius vituperatoribus no. Vim at partem inimicus disputationi, in vel docendi recteque dissentiunt, ad insolens antiopam eloquentiam has.</p>
<p>Habeo albucius splendide eam no. Facilisi pertinax necessitatibus cu sed, pri ad exerci doming. No mucius insolens cum, no velit clita consetetur nam. Noster sanctus at cum, id quodsi imperdiet contentiones vis.</p>
<p>Vix id cibo verterem electram, erant civibus signiferumque pro te, et cum altera detracto. Sit dicit eleifend id, et nihil mentitum deseruisse his. Hinc noster sit eu. Ut putant reprehendunt sea. Et duo fastidii menandri, viris saperet no qui. Ex ius meis scaevola molestiae, denique voluptaria id sit.</p>
<div class="row">
    <div class="col-sm-3"><img src="http://placehold.it/300x250" class="img-responsive"></div>
    <div class="col-sm-9">
        <p>Vis dolore invenire delicatissimi ea, pro an quidam habemus ponderum. Ne quo exerci regione mediocritatem, ad sea adhuc velit. Wisi facilis ad mei, tamquam probatus ex usu. Solum vivendo erroribus in pro. Eum harum efficiendi omittantur te, idque ludus iudicabit mei no, at illud veniam euripidis mel. Paulo ubique an quo.</p>
        <p>Illum elitr disputando eos id. Ius ea legimus epicuri complectitur, no senserit pertinacia delicatissimi per, posse audire moderatius mel in. Vim ne vidisse expetendis, maluisset torquatos pro ex. Ius ea graece accusamus, nostrum copiosae mel ea, volumus adipisci tincidunt mea no. Ea mei magna iisque dissentiunt.</p>
        <p>Deleniti vituperatoribus pri ex. Homero fierent has at, harum laboramus nam at. Aliquip percipit lobortis in eam, apeirian imperdiet vituperata mea ei. Velit tation no ius, has reque denique phaedrum no. Nam tempor lucilius vituperatoribus no. Vim at partem inimicus disputationi, in vel docendi recteque dissentiunt, ad insolens antiopam eloquentiam has.</p>
    </div>
</div>
<div class="space-30"></div>