
@{
    ViewBag.Title = "Terms of Service";
    ViewBag.Meta = "The following describes the terms on which we offer you services.";
}

<div id="view-terms">
    <section class="titlebar">
        <div class="container">

                <h2>@ViewBag.Title</h2>

                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li>@ViewBag.Title</li>
                    </ul>
                </nav>

        </div>
    </section>

    <!-- Blockquote
    ================================================== -->

    <div class="terms-content container">

        <p>THE FOLLOWING DESCRIBES THE TERMS ON WHICH WE OFFER YOU SERVICES. USE OF THE SITE INDICATES YOUR ACCEPTANCE OF THE TERMS AND CONDITIONS BELOW AND YOU AGREE THAT THIS CONSTITUTES A BINDING CONTRACT BETWEEN YOU AND WIN Worldwide (hereinafter "WIN.") If you do not wish to be bound by these terms and conditions, please do not visit or use the Back Office. You, the subscriber, agree that you are a willing subscriber to the Back Office services and agree that you will pay the fees associated with this service. WIN may amend these Terms of Service in our sole discretion at any time without specific notice to you. The latest Terms of Service will be posted on our site, and you should review them prior to using the site.</p><br>

        <h3 class="headline">Description of Service</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

        <p>WIN operates this web site and associated web pages which will be referred to as Back Office. WIN offers you access to Back Office which provides you access to a collection of online services. WIN offers you access to the Back Office in exchange for your agreement to accept and comply with the terms, conditions, and notices stated here and as may be modified by WIN from time-to-time in its sole discretion without notice to you. Unless explicitly stated otherwise, any new features or products that augment or enhance the current Service shall be subject to these Terms of Service.</p><br>

        <h3 class="headline">General Use of the Back Office</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

        <p>You promise that you will not use the Back Office, in whole or in part, for any purpose that is unlawful or prohibited by these Terms of Service. You agree that you will not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, frame in another web page, use on any other web site, transfer, or sell any information, software, lists of users, databases or other lists, products or services provided through or obtained from the Back Office. This means, among other activities, that you agree not to engage in the practices of "screen scraping", "database scraping", or any other activity with the purpose of obtaining lists of users or other information. You agree that you will not use the Back Office in any manner which could damage, disable, overburden, or impair the Back Office or interfere with any other party's use and enjoyment of the Back Office. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the Back Office. Except with the written permission of WIN, you agree that you will not access or attempt to access password protected, secure or non-public content of the Back Office. Unauthorized individuals attempting to access prohibited areas of the Back Office may be subject to prosecution.</p><br>

        <h3 class="headline">Registration/Privacy Policy</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

        <p>
            In order for you to participate in the Back Office Service, WIN will require that you provide specific information about yourself. If you choose to participate in such services, you agree to provide true, accurate and complete information and to refrain from impersonating or falsely representing your affiliation with any person or entity (such information being "Member Data"). Member Data and certain other information about you is subject to our Privacy Policy. You agree and acknowledge that Member Data from the registration process is used to send you information about WIN and services. Sensitive information will never be divulged to others without your permission. Some of your personal information from this service may be displayed on the personalized public web pages that you receive from WIN. You can modify all of your personal information by logging into the service or by contacting customer support.<br><br>
            Although privacy issues are very important to us, given the current regulatory and technical environment you should not have an expectation of privacy in your Member Back Office or Member Data associated with it. By way of example (without limiting the foregoing), we may be forced to disclose information to the government or third parties under certain circumstances, or third parties may unlawfully intercept your private communications. We cannot ensure that all private communications or information associated with your Member Back Office will remain private. For more information, WIN urges you to review the WIN Privacy Policy which is part of this Agreement.
        </p><br>

        <h3 class="headline">Content Submitted to WIN</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

        <p>The Back Office includes a number of venues that enable you to disseminate and exchange thoughts and opinions to and with other members of the public. Since WIN firmly believes in the value of free and open dissemination and exchanges, it is under no obligation to monitor, pre-screen, or otherwise censor your thoughts and opinions or the thoughts and opinions of other users. Therefore, WIN cannot be responsible for the appropriateness, accuracy, sufficiency, correctness, veracity, completeness, or timeliness of such thoughts and opinions. Always use caution when posting any personally identifying information about yourself or your children on the Back Office.</p><br>

        <h3 class="headline">Member Conduct</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

        <p>
            You, and not WIN, are entirely responsible for all information, data, text, software, music, sound, photographs, messages or other materials ("Member Content") posted via the Service. WIN does not control the Member Content posted via the Service and as such, does not guarantee the accuracy, integrity or quality of such content. With respect to the content on your Member Back Office you agree not to:

            <ul class="list-4 color" style="margin-left:5%; padding-left:0; list-style: disc outside none; text-indent: -1.35em;">
                <li>post, broadcast, upload or otherwise transmit any content not related to appropriate subject matters;</li>
                <li>post, broadcast, upload or otherwise transmit any content which is misleading to others, including, but not limited to, consumers;</li>
                <li>post, broadcast, upload or otherwise transmit any content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable;</li>
                <li>post, broadcast, upload or otherwise transmit any content that you do not have a right to post and transmit under any law or contractual or fiduciary relationships (such as information learned or disclosed as part of employment relationships or under nondisclosure agreements);</li>
                <li>post, broadcast, upload or otherwise transmit any content, such that such posting, uploading, or transmission constitutes the infringement of any patent, trademark, trade secret, copyright or other proprietary rights of any party;</li>
                <li>post, broadcast, upload or otherwise transmit any materials that contain software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</li>
                <li>post, broadcast, upload or otherwise transmit any materials which imposes an unreasonable or disproportionately large load on our infrastructure;</li>
                <li>post, broadcast, upload or otherwise transmit any content that is harmful to minors;</li>
                <li>post, broadcast, upload or otherwise transmit any unsolicited or unauthorized advertising, promotional materials, "spam," "chain letters," "pyramid schemes," or any other form of solicitation;</li>
                <li>interfere with or disrupt the Service or servers or networks connected to the Service, or disobey any requirements, procedures, policies or regulations of networks connected to the Service;</li>
                <li>intentionally or unintentionally violate any applicable local, state, national or international law, including, but not limited to, regulations promulgated by the U.S. Securities Exchange Commission, any rules of national or other securities exchange, including without limitation, the New York Stock Exchange, the American Stock Exchange or the NASDAQ, and any regulations which have the force of law;</li>
                <li>impersonate any person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity;</li>
                <li>forge or otherwise manipulate any headers or identifiers in order to disguise the origin of any content transmitted through the service;</li>
                <li>collect or store personal data about any other individual;</li>
                <li>promote or provide instructional information about illegal activities, promote physical harm or injury against any group or individual, or promote any act of cruelty to animals;</li>
                <li>attempt to access the accounts of others, or attempt to penetrate security measures of WIN, whether or not the intrusion results in corruption or loss of data; and/or</li>
                <li>resell or exploit for any commercial purpose WIN'S services by any and all means.</li>
            </ul>
            <br>

            WIN may, in its sole discretion, terminate your Back Office Account, member sites, or password for violating any of the prohibitions listed above.<br><br>
            Additionally, while we believe in each person's right to express themselves, sometimes the words you want to speak will be inappropriate for the community at large. For this reason, we may from time to time ask you to place some of your content behind password protection if we believe such content, while not in violation of these terms of service, is inappropriate for the community at large. If we ask you to place your content behind password protection and you fail to do so promptly, we at our sole option may choose to (a) place such content behind password protection ourselves, or (b) terminate these Terms of Service and your WIN account. Furthermore, in cases where we have asked you to place content behind password protection or the content otherwise appropriately belongs behind password protection, you may not publish your password in such a way that negates the limited access nature of the password protected Back Office.<br><br>
            WIN has a zero tolerance Spam policy. Any user who sends Spam emails using an WIN trademark or web site address or the trademarks or web site addresses of any of our partners may be immediately terminate from any or all online services provided by WIN or one of our partners. Any user who causes damage to our servers or loss of business or otherwise causes interruption from normal service due to violation of this policy will be held liable for those damages or loss of business. The definition of Spam or Spamming includes, but is not limited to, any of the following:<br><br>

            <ul class="list-4 color" style="margin-left:5%; padding-left:0; list-style: disc outside none; text-indent: -1.35em;">
                <li>Sending any email or fax with an WIN trademark or web site address or the trademarks or web site addresses of any of our partners as an advertisement to anyone as part of an initial contact.</li>
                <li>Sending any email or fax with an WIN trademark or web site address or the trademarks or web site addresses of any of our partners to anyone that has not requested this information from you first.</li>
                <li>Sending any email or fax with an WIN trademark or web site address or the trademarks or web site addresses of any of our partners to any type of "Safe List" or through any type of "Safe List" service.</li>
                <li>Sending any email or fax with an WIN trademark or web site address or the trademarks or web site addresses of any of our partners as part of an email that is sent as a result of a posting to a classified ad site or guest book or Links site.</li>
            </ul><br>

            <center><strong>Spam and Advertising Policy</strong></center><br>
        <p style="margin:0 10% 0 10%;">
            WIN has a zero tolerance Spam policy. Any user who sends Spam emails using an WIN trademark or web site address or the trademarks or web site addresses of any of our partners may be immediately terminated from any or all online services provided by WIN or one of our partners.<br><br>
            Any user who causes damage to our servers or loss of business or otherwise causes interruption from normal service due to violation of this policy will be held liable for those damages or loss of business.<br><br>
            The following constitute the definition of Spam or Spamming:<br><br>
            Sending any email or fax with an WIN trademark or web site address or the trademarks or web site addresses of any of our partners as an advertisement to anyone as part of an initial contact.<br><br>
            Sending any email or fax with an WIN trademark or web site address or the trademarks or web site addresses of any of our partners to anyone that has not requested this information from you first.<br><br>
            Sending any email or fax with an WIN trademark or web site address or the trademarks or web site addresses of any of our partners to any type of "Safe List" or through any type of "Safe List" service.<br><br>
            Sending any email or fax with an WIN trademark or web site address or the trademarks or web site addresses of any of our partners as part of an email that is sent as a result of a posting to a classified ad site or guest book or Links site.
        </p><br><br>

        <h3 class="headline">Third Party Content</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

        <p>
            For your convenience, the Back Office contain content and information from WIN'S partners and/or links to partner web sites ("Third Party Content"). Such content is not under the control of WIN and WIN is not responsible for such content, including, without limitation, any link contained in such content, or any changes or updates to such content. WIN is providing such Third Party Content to you only as a convenience, and the inclusion of such content does not imply endorsement by WIN of such content or the affiliate. You may be subject to additional and/or different terms, conditions, and privacy policies when you use third party services, content, software, or sites.<br><br>
            WIN is not and will not be responsible for (i) the terms and conditions of any transactions between you and any third party, (ii) any insufficiency of or problems with any such third party's background, insurance, credit or licensing, or (iii) the quality of services performed by any such third party or any other legal liability arising out of or related to the performance of such services. In the event that you have a dispute with any such third party, you release WIN (and its affiliates, and consequential) of liability of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes.
        </p><br>

        <h3 class="headline">DISCLAIMER OF WARRANTIES</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

        <p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT: (A) YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. WE AND OUR SUPPLIERS PROVIDE OUR SERVICE, THE BACK OFFICE "AS IS" AND WITHOUT ANY WARRANTY OR CONDITION OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTY OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR USE. (B) WIN MAKES NO WARRANTY THAT (i) THE SERVICE WILL MEET YOUR REQUIREMENTS, (ii) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE, AND (iii) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS. (C) ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THIS SERVICE, THE BACK OFFICE, IS DONE AT YOUR OWN DISCRETION AND RISK AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGES TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL.</p><br>

        <h3 class="headline">LIMITATION OF LIABILITY</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

        <p>IN NO EVENT SHALL WIN AND/OR OUR SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR ANY DAMAGES WHATSOEVER, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF USE, DATA OR PROFITS (HOWEVER ARISING, INCLUDING NEGLIGENCE) EVEN IF WIN OR ANY OF ITS SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES, ARISING OUT OF OR IN CONNECTION WITH (A) THE USE OR INABILITY TO USE THE SERVICE, (B) THE PROVISION OF OR FAILURE TO PROVIDE SERVICES, (C) ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED THROUGH THE SERVICE OR OTHERWISE ARISING OUT OF THE USE OF THE SERVICE, (D) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE, OR (E) ANY OTHER MATTER RELATING TO THE SERVICE. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE BACK OFFICE, OR WITH ANY OF THESE TERMS OF SERVICE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE BACK OFFICE.</p><br>

        <h3 class="headline">Proprietary Rights for Back Office</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

        <p>
            WIN does not claim ownership of the content you place on any Member Back Office or within any service. By using your Member Back Office, you grant WIN a worldwide, royalty-free non-exclusive license to (i) host, use, reproduce, modify, distribute, transmit, combine with information provided by third parties, and publicly display your content on and through the Back Office, and co-branded or mirrored versions of such sites, and in WIN'S promotional or advertising materials, and (ii) sublicense to third parties such content to the extent necessary for the creation and maintenance of, in part or in whole, such sites.<br><br>
            Some Back Office contain copyright material and all proprietary rights in that material remains the property of your member company. Reproduction, redistribution and transmission of any information contained in this Back Office is strictly prohibited save that Back Office subscribers may download and reproduce materials from Back Office for their own personal use.
        </p><br>

        <h3 class="headline">Indemnification</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

        <p>You agree to indemnify and hold WIN and its, suppliers, affiliates, partners, subsidiaries, employees harmless from any and all claims and demands, including, but not limited to, reasonable attorneys' fees, made by any third party due to or arising out of any information, including but not limited to member information, and your publicly posted information, submitted, posted, or otherwise provided by you to your Member Back Office and/or WIN and/or its affiliates.</p><br>

        <h3 class="headline">Copyright</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

        <p>
            All materials on the Back Office (as well as the organization and layout of the WIN website) are owned and copyrighted or licensed by WIN, its affiliates or its suppliers. All rights reserved. No reproduction, distribution, or transmission of the copyrighted materials of the Back Office is permitted without the written permission of WIN. Any rights not expressly granted herein are reserved.<br><br>
            We respect the intellectual property rights of others and we ask our members to do the same.
        </p><br>

        <h3 class="headline">Trademarks</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

        <p>WIN, WIN Worldwide, and other WIN logos and product and service names are trademarks of WIN. Without WIN's prior permission, you agree not to display or use in any manner, the WIN Marks.</p><br>

        <h3 class="headline">Modification</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

        <p>WIN reserves the rights at any time and from time to time to modify, discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice. You agree that WIN shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Service.</p><br>

        <h3 class="headline">Termination</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

        <p>WIN and its designees shall have the right (but not the obligation) in their sole discretion to refuse or remove any content that is posted by you or any other party to your Member Back Office. You further agree that WIN shall have the right to remove Elements from your member Back Office, your Back Office account, with or without notice to you, at any time at our sole discretion, if we discontinue offering the Element for any reason. You further agree that WIN, in its sole discretion, may terminate your password, your member Back Office, your Back Office account or your use of the Service for any reason, including, without limitation, if you breach these Terms of Service, for lack of use, if we are unable to verify or authenticate any information you provided to us, or if WIN believes that you have violated or acted inconsistently with the spirit of these Terms of Service. We may also terminate your member Back Office and/or Back Office account if we decide, in our sole discretion, to discontinue offering our services.</p><br>

        <h3 class="headline">General Information</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

        <p>
            These Terms of Service shall be governed in all respects by the laws of the State of Texas, U.S.A. as such laws are applied to agreements entered into and to be performed entirely within Texas between Texas residents. Both parties submit to exclusive jurisdiction and venue in Plano, Texas, and further agree that any cause of action arising under these Terms of Service shall be brought in a court in Collin County, Texas. If any provision of these Terms of Service is held to be invalid or unenforceable, such provision shall be struck and the remaining provisions shall be enforced. Our failure to act with respect to a breach by you or others does not waive our right to act with respect to subsequent or similar breaches. You may not assign or transfer these Terms of Service or your rights in your member Back Office, and any attempt to the contrary is void. These Terms of Service sets forth the entire understanding and agreement between us with respect to the subject matter hereof. The section titles in the Terms of Service are for convenience only and have no legal or contractual effect. A printed version of this Agreement shall be admissible in judicial or administrative proceedings based upon or relating to this Agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.<br><br>
            The services hereunder are offered by WIN, located at 5800 Democracy Drive, Plano, TX 75024.
        </p><br>

        <h3 class="headline">Violations</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

        <p>Please report any violations of these Terms of Service to <a href="mailto:support@mywinlife.com?Subject=WIN Worldwide Website Terms of Service Violations">support@mywinlife.com</a></p><br>

        <h3 class="headline">Rules Of Etiquette</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

        <p>
            Please read the following community standards and expectations.

            <ul class="list-4 color" style="margin-left:5%; padding-left:0; list-style: disc outside none; text-indent: -1.35em;">
                <li>We encourage you to promote your site in ways that facilitate learning, and growth in your organizations.</li>
                <li>It is inappropriate to speak offensively, use vulgarity, or reference hateful material as a Host or Attendee of a site within our community. (Note that there are certain types of content, specified in the Terms of Service, that are not permitted in your content at all.)</li>
                <li>Our service provides you with unfiltered access to other people's content. We cannot, nor do we try to, control all of the content available from our services. By its very nature, other people's content may be offensive, harmful or inaccurate, and in some cases content will be mislabeled or deceptively labeled. We expect that you will use caution - and common sense - when using our services.</li>
                <li>We encourage you to publicize your site, but sending spam or unsolicited e-mail to publicize your site is strictly prohibited. See the Spam Policy for further information.</li>
                <li>Back Office is a collaborative web site service. If you decide to give another person editing rights for your content, you will be taking complete responsibility for that person's contributions to your content. Therefore, you should clarify in advance with such people your expectations and guidelines for behavior on your site. Of course, they will need to agree to and behave in accordance with the Terms of Service as well.</li>
                <li>If you accept editing privileges at content other than your own, you should adhere to the guidelines established by the keeper of that site. Collaboration will not succeed unless everyone works together!</li>
            </ul><br>

            If you see any violations of our Terms of Service, or if you have any problems or concerns, you can contact us.<br><br>

            <ul style="margin-left:5%">
                <li>Customer Support</li>
                <li><a href="mailto:support@mywinlife.com?Subject=WIN Worldwide Website Terms of Service Violations">support@mywinlife.com</a></li>
                <li>972.943.5220</li>
            </ul>

        </p><br>

    </div>
</div>

