@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Unexpected Error";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="jumbotron">
    <div class="container">
        <div class="text-center">
            <h1>@Resources.Common.Oops</h1>
            <p class="lead">
                @Resources.Common.SomethingWrongClick
            </p>
            <p class="lead">
                @Resources.Common.NotSure
            </p>
            <p><a class="btn btn-primary btn-lg" role="button" onclick="history.go(-1);">@Resources.Common.GoBack</a></p>
        </div>
    </div>
</div>