<div style="height: 500px; overflow-y: auto; margin: 2px; padding: 5px;">

    <div class="viewport" style="text-align: left;">
        <div class="overview" style="top: 0;">
            <div>
                <h2>
                    PRIVACY POLICY
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, adipiscing ridiculus nunc cum vivamus, lobortis habitasse tristique tempor ultricies nec magna. Mauris tincidunt amet vestibulum, odio mauris magna rutrum, tellus nec, aptent lectus laoreet, mattis dolor. Lectus scelerisque non et pede, ullamcorper quisque consequat, tellus vel sed, ut arcu facilisis nibh imperdiet, vel pellentesque fermentum sodales nullam. Blandit ut fusce mauris augue, nam feugiat erat metus quam, curabitur diam eum nisl orci arcu, non lobortis magnis elit aliquam sit cursus. Donec faucibus pharetra eget orci, ut nibh rutrum maecenas et natoque, urna et eleifend ultrices placerat suspendisse, nulla quis porttitor at praesent. Orci felis nunc volutpat id dapibus ac, justo id a nulla amet nec, turpis nunc condimentum fermentum magna et phasellus. Et est morbi mauris totam, interdum libero arcu felis hac ut tortor, et urna ultrices etiam, aliquam adipiscing vehicula cursus malesuada, sit ac lobortis. Curabitur accumsan etiam hendrerit nullam, donec imperdiet donec lobortis natoque, in nam et ipsum, distinctio volutpat sociis interdum massa. Scelerisque gravida congue magna justo rhoncus, felis ornare leo, nam vitae at inceptos vel sed fugiat, ac a aliquet netus justo. Lectus morbi vel nisl amet eget lectus.
                </p>
                <p>
                    Nulla pretium ut, in integer aliquam rutrum nec ut, natoque luctus massa magna fringilla cupiditate, arcu lorem. Purus orci congue vitae sed sit, sed vel, vel primis nibh nulla, amet excepteur, aliquam cras proin diam vitae. Id nullam porttitor malesuada imperdiet, iaculis ante malesuada imperdiet wisi, congue vitae quis, pariatur ut. Est ac sollicitudin mollis vivamus, leo gravida iaculis imperdiet. Vivamus metus consectetuer erat, nisl erat arcu. Neque vel morbi dolorem turpis tempus, tempor quam a consequat elit est. Phasellus consequat adipiscing nonummy, convallis neque lectus volutpat, morbi nam, nibh massa interdum enim ut quis, maecenas rem metus neque vitae risus. Elit nibh lectus facilisis, vestibulum neque orci eu mauris dis, massa urna pellentesque integer. Eget tempor, integer faucibus, id dui. Eleifend praesent, vel augue volutpat, mattis nulla urna ac tempus, vel sollicitudin massa.
                </p>
                <p>
                    The following Policy outlines the information we will collect and how we
                    will use that information.
                </p>
                <h4>
                    COLLECTION AND USE OF INFORMATION
                </h4>
                <p>
                    Molestie faucibus orci ullamcorper. Nunc lectus porta, libero quis pharetra nec tincidunt sed, massa praesent, in lorem. Hendrerit leo fugit, egestas euismod erat egestas, sed velit eu amet. Nec dictum posuere eu, vitae suscipit duis molestiae metus, molestie nunc. Risus iaculis tempor ante nunc quam, accumsan eros in hendrerit dignissim, wisi vehicula donec. Mi eget vestibulum, libero consequat. Quisque dolor elit sit ut at a, laoreet a porttitor erat feugiat, nullam magna dictum mi erat et. Fringilla ante ac vulputate suscipit vehicula curabitur. Fames integer mauris tincidunt velit nec, justo mauris nostra ligula, molestie non gravida. Amet porta morbi nonummy risus wisi nunc, vel wisi eu, in aptent ullamcorper.
                </p>
                <h4>
                    THE USE OF VISITOR AND DESIGNER INFORMATION
                </h4>
                <p>
                    Imperdiet tincidunt fringilla, in wisi ante fusce mauris, lacus non sed, et orci porttitor tellus. Arcu magna, erat porttitor ut, sed et mi. Rhoncus vel fringilla pellentesque. Porta id euismod, iaculis maecenas mattis elit vel vel, urna ultrices senectus. Id dignissim fermentum vitae ut consequatur, fugiat tempor id rhoncus eleifend vulputate, blandit vitae non, congue cum non dignissim, mollis elit. Enim volutpat dictumst, convallis sit ut scelerisque morbi. Viverra cum, erat vitae, facilisis neque, erat enim fringilla.
                </p>
                <h4>
                    DIRECT OR INDIRECT LINKS TO OTHER SITES
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, adipiscing ridiculus nunc cum vivamus, lobortis habitasse tristique tempor ultricies nec magna. Mauris tincidunt amet vestibulum, odio mauris magna rutrum, tellus nec, aptent lectus laoreet, mattis dolor. Lectus scelerisque non et pede, ullamcorper quisque consequat, tellus vel sed, ut arcu facilisis nibh imperdiet, vel pellentesque fermentum sodales nullam. Blandit ut fusce mauris augue, nam feugiat erat metus quam, curabitur diam eum nisl orci arcu, non lobortis magnis elit aliquam sit cursus. Donec faucibus pharetra eget orci, ut nibh rutrum maecenas et natoque, urna et eleifend ultrices placerat suspendisse, nulla quis porttitor at praesent. Orci felis nunc volutpat id dapibus ac, justo id a nulla amet nec, turpis nunc condimentum fermentum magna et phasellus. Et est morbi mauris totam, interdum libero arcu felis hac ut tortor, et urna ultrices etiam, aliquam adipiscing vehicula cursus malesuada, sit ac lobortis. Curabitur accumsan etiam hendrerit nullam, donec imperdiet donec lobortis natoque, in nam et ipsum, distinctio volutpat sociis interdum massa. Scelerisque gravida congue magna justo rhoncus, felis ornare leo, nam vitae at inceptos vel sed fugiat, ac a aliquet netus justo. Lectus morbi vel nisl amet eget lectus.
                </p>
                <h4>
                    WEBSITE SECURITY
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, adipiscing ridiculus nunc cum vivamus, lobortis habitasse tristique tempor ultricies nec magna. Mauris tincidunt amet vestibulum, odio mauris magna rutrum, tellus nec, aptent lectus laoreet, mattis dolor. Lectus scelerisque non et pede, ullamcorper quisque consequat, tellus vel sed, ut arcu facilisis nibh imperdiet, vel pellentesque fermentum sodales nullam. Blandit ut fusce mauris augue, nam feugiat erat metus quam, curabitur diam eum nisl orci arcu, non lobortis magnis elit aliquam sit cursus. Donec faucibus pharetra eget orci, ut nibh rutrum maecenas et natoque, urna et eleifend ultrices placerat suspendisse, nulla quis porttitor at praesent. Orci felis nunc volutpat id dapibus ac, justo id a nulla amet nec, turpis nunc condimentum fermentum magna et phasellus. Et est morbi mauris totam, interdum libero arcu felis hac ut tortor, et urna ultrices etiam, aliquam adipiscing vehicula cursus malesuada, sit ac lobortis. Curabitur accumsan etiam hendrerit nullam, donec imperdiet donec lobortis natoque, in nam et ipsum, distinctio volutpat sociis interdum massa. Scelerisque gravida congue magna justo rhoncus, felis ornare leo, nam vitae at inceptos vel sed fugiat, ac a aliquet netus justo. Lectus morbi vel nisl amet eget lectus.
                </p>
                <h4>
                    RELEVANT AND APPLICABLE LAW
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, adipiscing ridiculus nunc cum vivamus, lobortis habitasse tristique tempor ultricies nec magna. Mauris tincidunt amet vestibulum, odio mauris magna rutrum, tellus nec, aptent lectus laoreet, mattis dolor. Lectus scelerisque non et pede, ullamcorper quisque consequat, tellus vel sed, ut arcu facilisis nibh imperdiet, vel pellentesque fermentum sodales nullam. Blandit ut fusce mauris augue, nam feugiat erat metus quam, curabitur diam eum nisl orci arcu, non lobortis magnis elit aliquam sit cursus. Donec faucibus pharetra eget orci, ut nibh rutrum maecenas et natoque, urna et eleifend ultrices placerat suspendisse, nulla quis porttitor at praesent. Orci felis nunc volutpat id dapibus ac, justo id a nulla amet nec, turpis nunc condimentum fermentum magna et phasellus. Et est morbi mauris totam, interdum libero arcu felis hac ut tortor, et urna ultrices etiam, aliquam adipiscing vehicula cursus malesuada, sit ac lobortis. Curabitur accumsan etiam hendrerit nullam, donec imperdiet donec lobortis natoque, in nam et ipsum, distinctio volutpat sociis interdum massa. Scelerisque gravida congue magna justo rhoncus, felis ornare leo, nam vitae at inceptos vel sed fugiat, ac a aliquet netus justo. Lectus morbi vel nisl amet eget lectus.
                </p>
                <h4>
                    TRADEMARKS AND COPYRIGHTS
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, adipiscing ridiculus nunc cum vivamus, lobortis habitasse tristique tempor ultricies nec magna. Mauris tincidunt amet vestibulum, odio mauris magna rutrum, tellus nec, aptent lectus laoreet, mattis dolor. Lectus scelerisque non et pede, ullamcorper quisque consequat, tellus vel sed, ut arcu facilisis nibh imperdiet, vel pellentesque fermentum sodales nullam. Blandit ut fusce mauris augue, nam feugiat erat metus quam, curabitur diam eum nisl orci arcu, non lobortis magnis elit aliquam sit cursus. Donec faucibus pharetra eget orci, ut nibh rutrum maecenas et natoque, urna et eleifend ultrices placerat suspendisse, nulla quis porttitor at praesent. Orci felis nunc volutpat id dapibus ac, justo id a nulla amet nec, turpis nunc condimentum fermentum magna et phasellus. Et est morbi mauris totam, interdum libero arcu felis hac ut tortor, et urna ultrices etiam, aliquam adipiscing vehicula cursus malesuada, sit ac lobortis. Curabitur accumsan etiam hendrerit nullam, donec imperdiet donec lobortis natoque, in nam et ipsum, distinctio volutpat sociis interdum massa. Scelerisque gravida congue magna justo rhoncus, felis ornare leo, nam vitae at inceptos vel sed fugiat, ac a aliquet netus justo. Lectus morbi vel nisl amet eget lectus.
                </p>
                <h4>
                    ONLINE PURCHASES
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, adipiscing ridiculus nunc cum vivamus, lobortis habitasse tristique tempor ultricies nec magna. Mauris tincidunt amet vestibulum, odio mauris magna rutrum, tellus nec, aptent lectus laoreet, mattis dolor. Lectus scelerisque non et pede, ullamcorper quisque consequat, tellus vel sed, ut arcu facilisis nibh imperdiet, vel pellentesque fermentum sodales nullam. Blandit ut fusce mauris augue, nam feugiat erat metus quam, curabitur diam eum nisl orci arcu, non lobortis magnis elit aliquam sit cursus. Donec faucibus pharetra eget orci, ut nibh rutrum maecenas et natoque, urna et eleifend ultrices placerat suspendisse, nulla quis porttitor at praesent. Orci felis nunc volutpat id dapibus ac, justo id a nulla amet nec, turpis nunc condimentum fermentum magna et phasellus. Et est morbi mauris totam, interdum libero arcu felis hac ut tortor, et urna ultrices etiam, aliquam adipiscing vehicula cursus malesuada, sit ac lobortis. Curabitur accumsan etiam hendrerit nullam, donec imperdiet donec lobortis natoque, in nam et ipsum, distinctio volutpat sociis interdum massa. Scelerisque gravida congue magna justo rhoncus, felis ornare leo, nam vitae at inceptos vel sed fugiat, ac a aliquet netus justo. Lectus morbi vel nisl amet eget lectus.
                </p>
                <h4>
                    PRIVACY POLICY MODIFICATIONS
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, adipiscing ridiculus nunc cum vivamus, lobortis habitasse tristique tempor ultricies nec magna. Mauris tincidunt amet vestibulum, odio mauris magna rutrum, tellus nec, aptent lectus laoreet, mattis dolor. Lectus scelerisque non et pede, ullamcorper quisque consequat, tellus vel sed, ut arcu facilisis nibh imperdiet, vel pellentesque fermentum sodales nullam. Blandit ut fusce mauris augue, nam feugiat erat metus quam, curabitur diam eum nisl orci arcu, non lobortis magnis elit aliquam sit cursus. Donec faucibus pharetra eget orci, ut nibh rutrum maecenas et natoque, urna et eleifend ultrices placerat suspendisse, nulla quis porttitor at praesent. Orci felis nunc volutpat id dapibus ac, justo id a nulla amet nec, turpis nunc condimentum fermentum magna et phasellus. Et est morbi mauris totam, interdum libero arcu felis hac ut tortor, et urna ultrices etiam, aliquam adipiscing vehicula cursus malesuada, sit ac lobortis. Curabitur accumsan etiam hendrerit nullam, donec imperdiet donec lobortis natoque, in nam et ipsum, distinctio volutpat sociis interdum massa. Scelerisque gravida congue magna justo rhoncus, felis ornare leo, nam vitae at inceptos vel sed fugiat, ac a aliquet netus justo. Lectus morbi vel nisl amet eget lectus.
                </p>
                <h4>
                    INDEMNIFICATION
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, adipiscing ridiculus nunc cum vivamus, lobortis habitasse tristique tempor ultricies nec magna. Mauris tincidunt amet vestibulum, odio mauris magna rutrum, tellus nec, aptent lectus laoreet, mattis dolor. Lectus scelerisque non et pede, ullamcorper quisque consequat, tellus vel sed, ut arcu facilisis nibh imperdiet, vel pellentesque fermentum sodales nullam. Blandit ut fusce mauris augue, nam feugiat erat metus quam, curabitur diam eum nisl orci arcu, non lobortis magnis elit aliquam sit cursus. Donec faucibus pharetra eget orci, ut nibh rutrum maecenas et natoque, urna et eleifend ultrices placerat suspendisse, nulla quis porttitor at praesent. Orci felis nunc volutpat id dapibus ac, justo id a nulla amet nec, turpis nunc condimentum fermentum magna et phasellus. Et est morbi mauris totam, interdum libero arcu felis hac ut tortor, et urna ultrices etiam, aliquam adipiscing vehicula cursus malesuada, sit ac lobortis. Curabitur accumsan etiam hendrerit nullam, donec imperdiet donec lobortis natoque, in nam et ipsum, distinctio volutpat sociis interdum massa. Scelerisque gravida congue magna justo rhoncus, felis ornare leo, nam vitae at inceptos vel sed fugiat, ac a aliquet netus justo. Lectus morbi vel nisl amet eget lectus.
                </p>
                <h4>
                    INFORMATION and PRIVACY CONTACT
                </h4>
                <p>
                    If you have any questions about our Privacy Policy, please contact us at either:
                </p>
                <p>
                    CONTACT US<br>
                    <a style="color: #F87876" href="@Url.Action("ContactForm","Home")">Customer Care</a>
                </p>
                <p>
                    BY PHONE<br>
                    @GlobalSettings.Company.Phone
                </p>
            </div>
        </div>
    </div>
</div>
