@import "../mixins/_mixins";

// Form Group Errors
.has-feedback .form-control-feedback { display: none; position: absolute; right: 5px; margin-top: -34px; top: inherit; width: 16px; background: transparent; }
.has-success .form-control-feedback { display: block; }
.has-error .form-control-feedback { display: block; }

.has-feedback select + .form-control-feedback { right: 15px; }

// Form Fields
.form-control-inline { display: inline-block !important; width: auto !important; }

// Ensure that checkbox and radio labels cannot be selected
.radio label,
.checkbox label { @include disable-highlighting(); }