.progress.progress-lg { height: 15px; }
.progress.progress-sm { height: 8px; }
.progress.progress-xs { height: 4px; }

.progress-bar { border-radius: 4px; }

.progress.no-background { background: transparent; box-shadow: none; } 