@import url(../colors/blue.css);
@import url(../colors/Success-Blue1.css);
@import url(../colors/Success-Blue2.css);
@import url(../colors/Success-Cran.css);
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: .8;
  filter: alpha(opacity=80);
}

#auto-order-manager {
  /*accordion*/
}

#auto-order-manager .orderinfo .panel {
  border: 1px solid #888;
  margin-bottom: 15px;
}

#auto-order-manager .orderinfo .panel .panel-heading {
  border-bottom: 1px solid #888;
}

#auto-order-manager .orderinfo .panel .panel-heading .panel-title {
  padding-left: 10px;
}

#auto-order-manager .item-list .fa-times-circle {
  position: relative;
  top: 8px;
}

#auto-order-manager .item-control-heading {
  padding: 20px 0;
  border-bottom: 1px solid #aaa;
}

#auto-order-manager .auto-order-module {
  padding: 15px;
}

#auto-order-manager .auto-order-module [class*='row'] {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#auto-order-manager .auto-order-module-btn {
  margin: 15px;
}

#auto-order-manager .auto-item {
  border: 1px solid #999;
}

#auto-order-manager .auto-item .auto-top {
  background-color: lightgray;
  padding: 10px;
  font-size: 10px;
}

#auto-order-manager .auto-item .auto-top .textHighlighted {
  color: #0071ce;
  font-weight: 600;
  font-size: 13px;
}

#auto-order-manager .auto-item .products .auto-heading {
  padding: 10px 20px 10px 20px;
  margin-right: -15px;
}

#auto-order-manager .auto-item .products .item-list li {
  padding: 20px;
}

#auto-order-manager .auto-item .order-info {
  padding-left: 0;
}

#auto-order-manager #accordion .glyphicon {
  margin-right: 10px;
}

#auto-order-manager #accordion .glyphicon .panel-collapse > .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

#auto-order-manager #accordion .glyphicon .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
}

#auto-order-manager #accordion .glyphicon .panel-collapse > .list-group {
  margin-bottom: 0;
}

#auto-order-manager #accordion .glyphicon .panel-collapse .list-group-item {
  border-radius: 0;
}

#auto-order-manager #accordion .glyphicon .panel-collapse .list-group .list-group {
  margin: 0;
  margin-top: 10px;
}

#auto-order-manager #accordion .glyphicon .panel-collapse .list-group-item li.list-group-item {
  margin: 0 -15px;
  border-top: 1px solid #ddd;
  border-bottom: 0;
  padding-left: 30px;
}

#auto-order-manager #accordion .glyphicon .panel-collapse .list-group-item li.list-group-item:last-child {
  padding-bottom: 0;
}

#auto-order-manager #accordion .glyphicon .panel-collapse div.list-group div.list-group {
  margin: 0;
}

#auto-order-manager #accordion .glyphicon .panel-collapse div.list-group .list-group a.list-group-item {
  border-top: 1px solid #ddd;
  border-bottom: 0;
  padding-left: 30px;
}

#auto-order .auto-order-module {
  padding: 15px;
}

#auto-order .auto-order-link {
  white-space: nowrap;
}

#auto-order .auto-order-link[type=submit] {
  background: transparent;
  border: none;
}

#auto-order .auto-order-table {
  border: 1px solid gray;
  color: GrayText;
  font-size: small;
  margin-bottom: 40px;
  width: 98%;
}

#auto-order .auto-order-table th {
  color: darkgray;
  border-bottom: 1px solid gray;
}

#auto-order .auto-order-table th h3 {
  margin: 0;
}

#auto-order .auto-order-table td {
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

#auto-order .auto-order-table td .order-number {
  font-size: 16px;
}

#auto-order .auto-order-table td p {
  font-size: 12px;
  font-weight: bold;
  max-width: 180px;
}

#auto-order .auto-order-table td span {
  color: #0071ce;
}

#auto-order .auto-order-table td address {
  color: #0071ce;
}

#auto-order .auto-order-table td.auto-order-Col1 {
  width: 650px;
}

#auto-order .auto-order-table td, #auto-order .auto-order-table th {
  padding: 10px 2px 10px 10px;
  vertical-align: top;
}

#auto-order .auto-order-table p {
  margin-bottom: 0;
}

#auto-order .auto-order-table .scrollable {
  max-height: 400px;
  overflow: auto;
}

#auto-order .auto-order-table .orange-link {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: right;
  margin-right: 10px;
}

#auto-order .auto-order-table .orange-link span {
  color: orange;
}

#auto-order .auto-order-table .items-table td {
  border-right: none;
  border-bottom: none;
  padding-left: 0;
  vertical-align: middle;
}

#auto-order .auto-order-table .items-table td img {
  max-width: 60px;
}

#auto-order .auto-order-table .items-table td a {
  color: #0071ce;
}

#auto-order .auto-order-table .row {
  margin-bottom: 20px;
}

#auto-order .auto-order-item-list {
  list-style: none;
  padding-left: 0;
}

#auto-order .auto-order-item-list li {
  margin-bottom: 10px;
}

#auto-order .auto-order-item-list li .row {
  display: table;
}

#auto-order .auto-order-item-list li .row div {
  display: table-cell;
  vertical-align: middle;
}

#auto-order .nav-tabs {
  width: 100%;
}

#auto-order .nav-tabs li {
  text-align: center;
  width: 49.5%;
}

#auto-order .nav-tabs li:first-child {
  margin-right: 1%;
}

#auto-order .nav-tabs li a {
  border-color: gray;
  border-radius: 0 !important;
  font-size: 14px;
  padding: 20px;
  margin-right: 0;
}

#auto-order .nav-tabs li.active a {
  border-bottom-color: #fff;
}

#auto-order .auto-order-cart-name {
  color: darkblue;
}

#auto-order .auto-order-cart-value {
  color: #0071ce;
  margin-right: 12px;
}

#auto-order .tab-content {
  border: 1px solid gray;
  border-top: none;
}

#auto-order .tab-content header, #auto-order .tab-content tfoot {
  font-size: 16px;
  padding: 10px;
  padding-bottom: 0;
  margin-top: 20px;
}

#auto-order .tab-content header .auto-order-link:first-child, #auto-order .tab-content tfoot .auto-order-link:first-child {
  margin-right: 12px;
}

#auto-order #auto-order-addtocart header {
  font-size: 14px !important;
  margin-bottom: 10px;
}

#auto-order #auto-order-addtocart #additional-items-container {
  max-height: 400px;
  overflow-y: scroll;
}

#auto-order #auto-order-addtocart #additional-items-container .table {
  margin-top: 0 !important;
}

#auto-order #auto-order-addtocart #additional-items-container .table thead {
  height: 0;
  width: 0;
  border: 0;
}

#auto-order #auto-order-addtocart #additional-items-container .table thead th {
  padding: 0;
}

#auto-order .auto-order-cart-table, #auto-order .auto-order-addtocart-table {
  background-color: #fff;
  margin-top: 20px;
}

#auto-order .auto-order-cart-table .cart-category, #auto-order .auto-order-addtocart-table .cart-category {
  background-color: lightgray;
  color: GrayText;
}

#auto-order .auto-order-cart-table .scrollable, #auto-order .auto-order-addtocart-table .scrollable {
  max-height: 680px;
  overflow: auto;
}

#auto-order .auto-order-cart-table tfoot, #auto-order .auto-order-addtocart-table tfoot {
  border-top: 1px solid gray;
}

#auto-order .auto-order-cart-table tbody#order-items img, #auto-order .auto-order-addtocart-table tbody#order-items img {
  width: 50px;
}

#auto-order .auto-order-cart-table td, #auto-order .auto-order-cart-table th, #auto-order .auto-order-addtocart-table td, #auto-order .auto-order-addtocart-table th {
  vertical-align: middle;
  padding: 10px;
}

#auto-order .auto-order-cart-table td p, #auto-order .auto-order-cart-table th p, #auto-order .auto-order-addtocart-table td p, #auto-order .auto-order-addtocart-table th p {
  color: GrayText;
  margin: 0;
}

#auto-order .auto-order-cart-table td .check-icon, #auto-order .auto-order-cart-table th .check-icon, #auto-order .auto-order-addtocart-table td .check-icon, #auto-order .auto-order-addtocart-table th .check-icon {
  font-size: 20px;
  color: green;
  margin-left: 10px;
}

#auto-order .auto-order-cart-table thead, #auto-order .auto-order-addtocart-table thead {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  font-size: small;
}

#auto-order .auto-order-cart-table thead th, #auto-order .auto-order-addtocart-table thead th {
  color: GrayText;
  font-weight: normal;
}

#auto-order .auto-order-cart-table .txtQty, #auto-order .auto-order-addtocart-table .txtQty {
  text-align: center;
}

#auto-order .auto-order-cart-table .auto-order-cart-price, #auto-order .auto-order-addtocart-table .auto-order-cart-price {
  color: #0071ce;
  font-size: 18px;
}

#auto-order .fht-table-wrapper {
  height: 680px !important;
}

#auto-order .fht-table-init thead {
  display: none;
}

#auto-order .auto-order-date, #auto-order .auto-order-shipping, #auto-order .auto-order-payment, #auto-order .auto-order-shipmethod {
  margin-top: 0;
  padding: 0;
}

#auto-order .auto-order-date h3, #auto-order .auto-order-shipping h3, #auto-order .auto-order-payment h3, #auto-order .auto-order-shipmethod h3 {
  color: darkblue;
  font-size: 20px;
  margin-top: 0;
}

#auto-order .auto-order-date .row-head, #auto-order .auto-order-shipping .row-head, #auto-order .auto-order-payment .row-head, #auto-order .auto-order-shipmethod .row-head {
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 10px;
}

#auto-order .auto-order-date .row-body, #auto-order .auto-order-shipping .row-body, #auto-order .auto-order-payment .row-body, #auto-order .auto-order-shipmethod .row-body {
  margin: 0;
  padding: 10px;
}

#auto-order .auto-order-date .row-body #ddFrequency, #auto-order .auto-order-shipping .row-body #ddFrequency, #auto-order .auto-order-payment .row-body #ddFrequency, #auto-order .auto-order-shipmethod .row-body #ddFrequency {
  width: 100%;
  height: 30px;
}

#auto-order .auto-order-date .row-body .calendar-input, #auto-order .auto-order-shipping .row-body .calendar-input, #auto-order .auto-order-payment .row-body .calendar-input, #auto-order .auto-order-shipmethod .row-body .calendar-input {
  width: 100%;
  height: 30px;
  background-color: #fff;
  padding: 6px 6px 0 6px;
  margin-bottom: 40px;
  cursor: pointer;
  border: 1px solid gray;
}

#auto-order .auto-order-date .row-body .calendar-input .fa-calendar, #auto-order .auto-order-shipping .row-body .calendar-input .fa-calendar, #auto-order .auto-order-payment .row-body .calendar-input .fa-calendar, #auto-order .auto-order-shipmethod .row-body .calendar-input .fa-calendar {
  float: right;
}

#auto-order .auto-order-date .row-body #popover_content_wrapper, #auto-order .auto-order-shipping .row-body #popover_content_wrapper, #auto-order .auto-order-payment .row-body #popover_content_wrapper, #auto-order .auto-order-shipmethod .row-body #popover_content_wrapper {
  display: none;
}

#auto-order .auto-order-payment {
  color: GrayText;
}

#auto-order .auto-order-payment [class^="auto-order-payment-"] {
  padding: 0;
}

#auto-order .auto-order-payment h4 {
  color: darkblue;
  margin: 0;
  margin-left: 0;
}

#auto-order .auto-order-payment .txtCVV {
  width: 30px;
  height: 20px;
}

#auto-order .auto-order-payment em {
  text-transform: none;
}

#auto-order .auto-order-payment strong {
  color: darkblue;
  font-weight: normal;
  font-size: 16px;
  text-transform: none;
}

#auto-order .auto-order-payment input {
  cursor: pointer;
}

#auto-order .auto-order-payment label {
  color: GrayText;
  font-weight: normal;
  font-size: 16px;
  text-transform: none;
  cursor: pointer;
}

#auto-order .auto-order-payment .auto-order-payment-summary {
  margin-top: 0;
}

#auto-order .auto-order-payment .auto-order-payment-summary .row-head {
  border-bottom: none;
}

#auto-order .auto-order-shipping input {
  width: 100%;
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 16px;
}

#auto-order .btn-margin-10 {
  margin-bottom: 10px;
}

#auto-order .item-split {
  background-color: darkgray;
  width: 100%;
  height: 1px;
}

.panel-group {
  margin-bottom: 0;
}

.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
}

.panel-group .panel + .panel {
  margin-top: -1px;
}

/*.panel-title{
    padding:20px; // Alan C Commented out on 18 March - was adding too much padding to side navigation on Backoffice pages
}*/
.panel-default {
  margin-top: 0;
  border-right: 0;
  border-left: 0;
}

.panel-default .panel-heading {
  background-color: white;
  border-radius: 0;
}

/*$lightblue: #24B5D4;
$lightblue-hover: #4299AD;

$darkblue-hover: #09192B;
$midblue: #234A69;
$paleblue: #BADBED;
$lightgreen: #9AC652;
$palegreen: #CEE5AF;
$lightgreen-hover: #8eba40;
$orange: #EF6431;
$orange-hover: #F06D33;*/
#view-account .orderlist .order-widget {
  margin-bottom: 15px;
}

#view-account .breadcrumb {
  margin-left: -10px;
}

#view-account .list-group .list-group-item:hover {
  background-color: #f5f5f5;
}

#view-account .list-group .list-group-item a {
  color: #606060;
}

#view-account .list-group .list-group-item a:hover {
  color: #0071CE;
}

#view-accountoverview .detail {
  display: block;
}

#view-accountoverview .form {
  display: none;
}

#view-accountoverview .editbutton {
  display: block;
}

#view-accountoverview .panel-body.edit .detail {
  display: none;
}

#view-accountoverview .panel-body.edit .form {
  display: block;
}

#view-accountoverview .panel-body.edit .editbutton {
  display: none;
}

.autoordereditorder-container {
  /*background-color: #fefefe;
    border: 1px solid #eee;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 600px;
    margin: 20px auto;
    padding: 20px;*/
}

.pop .popover {
  width: 200px;
}

#view-enrollment #personal-info-container input, #view-enrollment #personal-info-container select {
  max-width: 300px;
  display: inline;
}

#view-enrollment .required-icon {
  color: red;
}

#view-enrollment .field-validation-error {
  margin-left: 10px;
}

#view-enrollment #birth-date-container .form-control {
  margin: 0 20px 0 0 !important;
  padding: 5px;
  max-width: 70px;
  display: inline-block;
}

#view-enrollment-configuration {
  position: relative;
  min-height: 40vh;
}

#view-enrollment-configuration .button {
  background: #666;
  border: none;
  cursor: pointer;
  color: #fff;
  float: right;
  width: 250px;
  height: 40px;
  display: inline-block;
  position: relative;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

#view-enrollment-configuration .button:hover {
  background-color: #0071CE;
}

#view-enrollment-configuration .button i {
  top: 0;
  left: 0;
  position: relative;
  display: inline-block;
  z-index: 20;
}

#view-orderreview h2, #view-orderreview h4 {
  text-transform: capitalize;
}

#view-enrollment-productlist [data-role=removecategory] {
  color: maroon;
  cursor: pointer;
}

#view-enrollment-productlist [type=number] {
  height: 20px;
  width: 50px;
  margin: 0 0 0 15px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

#view-enrollment-productlist .item-container {
  border: 1px solid #DDD;
}

#view-enrollment-productlist .quantity-container {
  position: relative;
  width: 138px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

#view-enrollment-productlist .quantity-container .btn {
  font-size: 25px;
  width: 40px;
  height: 40px;
  line-height: 30px;
}

@media (max-width: 500px) {
  #view-enrollment-productlist .quantity-container .btn {
    width: 100%;
    height: 35px;
    line-height: 25px;
  }
}

#view-enrollment-productlist .quantity-container .quantity-box {
  margin: 0;
  height: 40px;
  width: 50px;
  position: relative;
  top: 1px;
  text-align: center;
}

@media (max-width: 500px) {
  #view-enrollment-productlist .quantity-container .quantity-box {
    width: 100%;
    height: 35px;
  }
}

@media (max-width: 500px) {
  #view-enrollment-productlist .quantity-container {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

#view-packs .pack-list {
  margin: 0;
  padding: 0;
}

#view-packs .pack-list .pack {
  width: 100%;
  display: inline-block;
}

#view-packs .pack-list .pack header {
  font-weight: 400;
  font-size: 25px;
  padding: 10px 0;
  color: #fff;
}

#view-packs .pack-list .pack article {
  border: 1px solid #7E7E7E;
  border-top: none;
  background-color: #fff;
  padding: 10px 10px 0 0;
}

#view-packs .pack-list .pack article .item-details.auto-order {
  height: 400px;
}

#view-packs .pack-list .pack article .item-details h4, #view-packs .pack-list .pack article .item-details .pv {
  color: #7E7E7E;
  margin-left: 20px;
}

#view-packs .pack-list .pack article .item-details h4 {
  font-size: 27px;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 0;
}

#view-packs .pack-list .pack article .item-details .pv {
  font-size: 15px;
  display: block;
}

#view-packs .pack-list .pack article .item-details img:not(.item-added-img) {
  display: block;
  margin: 0 auto;
  max-width: 95%;
  max-height: 250px;
  margin-bottom: 5px;
}

#view-packs .pack-list .pack article .item-details .shortdescription {
  display: block;
  padding: 0 20px;
  color: #7E7E7E;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

#view-packs .pack-list .pack article .item-details .shortdescription strong {
  color: #000;
  font-size: 14px;
}

#view-packs .pack-list .pack article .item-details .shortdescription font {
  font-size: 16px;
  margin: 15px 0 20px 0;
}

#view-packs .pack-list .pack article .item-details .shortdescription ul {
  margin: 0;
}

#view-packs .pack-list .pack article .item-details .shortdescription ul li {
  text-align: left;
  padding: 0 0 5px 0;
}

#view-packs .pack-list .pack article select {
  height: 25px;
}

#view-packs .pack-list .pack article .details {
  padding: 0 0 0 30px;
}

#view-packs .pack-list .pack article .details .savings {
  font-size: 14px;
}

#view-packs .pack-list .pack article .details > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#view-packs .pack-list .pack article .details > ul li {
  font-size: 12px;
  color: #666;
}

#view-packs .pack-list .pack article .details > ul li ul {
  padding: 0 0 0 25px;
}

#view-packs .pack-list .pack article .details label, #view-packs .pack-list .pack article .details span {
  font-size: 12px;
  margin: 0;
}

#view-packs .pack-list .pack article .details .detail-divider {
  border-bottom: 1px dotted #CCC;
  margin: 10px 0 15px 0;
}

#view-packs .pack-list .pack article .details .qualifies-you-for {
  font-size: 14px !important;
  margin: 20px 0 30px 0;
}

#view-packs .pack-list .pack article .details .qualifies-you-for li {
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 2px solid #CCC;
  padding: 0 0 6px 0;
  font-weight: bold;
}

#view-packs .pack-list .pack article .details .qualifies-you-for li:first-of-type {
  font-weight: bolder;
  font-size: 15px;
  padding: 0 0 8px 0;
}

#view-packs .pack-list .pack article .details .qualifies-you-for li [class*=glyphicon-] {
  font-size: 30px;
  position: relative;
  top: 7px !important;
  margin: 0 10px 0 0;
}

#view-packs .pack-list .pack article .details .addtoorder-container .add-confirm {
  display: none;
}

#view-packs .pack-list .pack article .details .addtoorder-container .add-confirm [class*=fa-] {
  font-size: 23px;
  position: relative;
  top: 2px;
}

#view-packs .pack-list .pack article .details .addtoorder-container .add-confirm small {
  position: relative;
  top: -4px;
  right: -7px;
  cursor: pointer;
}

#view-packs .pack-list .pack.order .shortdescription {
  min-height: 295px;
}

#view-packs .pack-list .pack.auto-order .shortdescription {
  min-height: 135px;
}

#view-packs.customer-type-1 .item-details {
  min-height: 0 !important;
}

#view-packs.customer-type-1 .details {
  min-height: 135px !important;
}

#view-packs.customer-type-1 .pack.order .shortdescription {
  min-height: 55px !important;
}

#view-packs.customer-type-1 .pack.auto-order .shortdescription {
  min-height: 55px !important;
}

#view-packs .form-horizontal {
  font-size: 12px;
}

#view-packs .form-horizontal .form-control {
  height: 25px;
}

#view-packs .form-horizontal [class*=col-] {
  padding: 0 2px;
}

#view-packs .form-horizontal #Update_BirthDay {
  width: 40px;
  display: inline-block;
}

#view-packs .form-horizontal select {
  height: 25px;
  border-color: #CCC;
}

#view-packs .form-horizontal select#states {
  width: 101px;
}

#view-packs .form-horizontal select#provider {
  width: 105px;
}

#view-packs .form-horizontal select.month {
  width: 90px;
}

#view-packs .form-horizontal select.day {
  width: 50px;
}

#view-packs .form-horizontal select#card-type {
  min-width: 130px;
}

#view-packs .form-horizontal select#expiration-month {
  min-width: 90px;
}

#view-packs .form-horizontal select#expiration-year {
  min-width: 60px;
}

#view-packs .form-horizontal select#credit-card-state {
  min-width: 130px;
}

#view-packs .form-horizontal p {
  font-style: italic;
  margin: 0;
}

#view-packs .form-horizontal p.username-note {
  font-style: normal;
  color: #6a7a7f;
}

#view-packs .form-horizontal .username-check, #view-packs .form-horizontal .username-tip-btn {
  display: inline-block;
  margin: 3px 0 0 0;
}

#view-packs .promoter {
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 3px 5px 0;
}

#view-packs .auto-order-start-label {
  font-size: 15px;
  font-family: 'Droid Sans';
}

#summary-container .fa-times {
  color: maroon;
  cursor: pointer;
}

.view-item {
  /*.image { text-align: center; }

    &.view-item-card {
        .details { margin-top: 10px;
            .itemdescription { font-size: 1.1em; height: 2.8em; overflow: hidden; }
            .price { margin-top: 10px; font-size: 1em; }
            .itemcode {  }
        }
        .image { height: 150px; overflow: hidden; 
            img { max-height: 150px; }
        }*/
  /*}*/
}

.view-item .product-price-discount {
  text-decoration: none;
}

.view-item .product-price-discount span i {
  background-color: none;
}

.view-item.view-item-sushi {
  /*.details { margin-top: 10px;
            .itemdescription { font-weight: bold;font-size: 1.1em; height: 1.8em; overflow: hidden;}
            .price { margin-top: 0; font-size: 1em; }
            .itemcode {  }
        }
        .image { height: 100px; overflow: hidden; float:left;padding-right:5px;
            img { max-height: 100px; } 
        }

        .options { @include opacity(0); @include transition(opacity 0.08s linear); }
        &:hover .options { @include opacity(100); }*/
}

.view-item.view-item-detail {
  /*.image { height: 200px; overflow: hidden; 
            img { max-height: 200px; }
        }
        .details { 
            .itemdescription { font-size: 1.4em; }
            .itemcode { color: #aaa; font-size: 0.85em; padding-bottom: 10px; border-bottom: 1px solid #ddd; }
            .price { margin-top: 15px; font-size: 1.2em; }
        }
        .summary { font-size: 1.1em; margin-top: 3em; }
        .options {*/
  /*}*/
}

#product-detail .left-side {
  min-height: 800px;
  min-width: 600px;
}

#product-detail .left-side .right-side .linking .qtyminus, #product-detail .left-side .right-side .linking .qtyplus {
  padding-right: 15px;
  text-align: center;
}

#product-detail .left-side .right-side .linking input {
  border-radius: 0;
}

.product-price-discount i {
  background-color: none;
}

.strikePrice {
  text-decoration: line-through;
}

.activePrice {
  background-color: #ffecb7;
}

.product {
  margin: 30px 5px 5px 5px;
  position: relative;
}

.product div.mediaholder {
  /*width: 280px;*/
  position: relative;
}

.product div.mediaholder a.product-button:hover {
  background-color: #0071CE;
  color: #fff;
}

.product div.mediaholder a.product-button i {
  margin-right: 4px;
  top: -1px;
  position: relative;
}

a.quick-shop-button {
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 13px 0;
  width: 100%;
  top: -45px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
}

a.quick-shop-button:hover {
  background: rgba(0, 0, 0, 0.65);
  color: #FFFFFF;
}

.quick-shop-not-hovered {
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: transform 0.3s, opacity 0.1s 0.3s;
  -moz-transition: transform 0.3s, opacity 0.1s 0.3s;
  -o-transition: transform 0.3s, opacity 0.1s 0.3s;
  transition: transform 0.3s, opacity 0.1s 0.3s;
}

.quick-shop-hovered {
  -webkit-transition: transform 0.3s, opacity 0.1s, background 0.35s;
  -moz-transition: transform 0.3s, opacity 0.1s, background 0.35s;
  -o-transition: transform 0.3s, opacity 0.1s, background 0.35s;
  transition: transform 0.3s, opacity 0.1s, background 0.35s;
  opacity: 1;
  -webkit-transform: translateY(0p);
  -moz-transform: translateY(0p);
  -ms-transform: translateY(0p);
  -o-transform: translateY(0p);
  transform: translateY(0p);
}

div.description-container {
  position: relative;
}

.list-item-description {
  position: relative;
  height: 75px;
  display: block;
  z-index: 9990;
}

.list-item-description span {
  background-color: #f6f6f6;
}

@media (max-width: 487px) {
  .tabs-nav li {
    width: 100vw;
  }
}

.share-options {
  list-style: none;
  padding: 0;
}

.share-options li {
  padding: 0;
  margin: 0;
  display: inline;
}

.share-options li a:link, .share-options li a:visited {
  color: #FFFFFF;
  padding: 5px 10px;
  font-weight: 800;
  font-size: 16px;
}

.share-options li a:link:hover, .share-options li a:link:active, .share-options li a:visited:hover, .share-options li a:visited:active {
  color: #888;
}

.ordersummary hr {
  margin: 0;
}

.ordersummary .padded-container {
  padding: 10px;
}

.ordersummary .items-container {
  min-height: 140px;
  border-left: 1px dotted #ddd;
}

.ordersummary .item {
  margin-bottom: 10px;
}

/*$lightblue: #24B5D4;
$lightblue-hover: #4299AD;

$darkblue-hover: #09192B;
$midblue: #234A69;
$paleblue: #BADBED;
$lightgreen: #9AC652;
$palegreen: #CEE5AF;
$lightgreen-hover: #8eba40;
$orange: #EF6431;
$orange-hover: #F06D33;*/
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  width: 95%;
  /*@media (max-width: 768px) {
        padding: 0 30px; width: 90%;
    }*/
}

body {
  /*Class = boxed #wrapper { // Applies gray area to right and left of main content container */
  padding: 0;
}

body header {
  padding: 0;
  z-index: 90;
  margin: 0;
  position: relative;
  width: 100%;
}

body header #top-bar {
  margin: 0;
  padding: 0;
  background-color: #0071ce;
  width: 100%;
}

@media (min-width: 768px) {
  body header #top-bar {
    height: 36px;
  }
}

@media (max-width: 767px) {
  body header #top-bar {
    min-height: 36px;
  }
}

body header #top-bar .left-side {
  padding: 0;
  margin: 0;
}

body header #top-bar .left-side ul {
  margin: 0;
  padding: 0;
}

body header #top-bar .left-side ul li {
  margin: 0;
  padding: 0;
}

body header #top-bar .left-side ul li span {
  padding: 7px 10px;
  display: inline-block;
  height: 36px;
}

@media (max-screen: 768px) {
  body header #top-bar .left-side ul li span {
    padding: 3px 1px;
    font-size: 11px;
  }
}

body header #top-bar .left-side ul li .owner-name {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 13px;
}

@media (max-screen: 768px) {
  body header #top-bar .left-side ul li .owner-name {
    font-size: 11px;
    margin-left: -10px;
  }
}

body header #top-bar .left-side ul li .dropdown {
  margin: 0;
}

body header #top-bar .left-side ul li .dropdown ul.dropdown-menu {
  border-radius: 0;
}

body header #top-bar .left-side ul li .dropdown ul.dropdown-menu li {
  padding: 0;
  height: 25px;
  margin: 0;
  display: block;
}

body header #top-bar .left-side ul li .dropdown ul.dropdown-menu li a {
  padding: 2px 15px;
  height: 25px;
}

body header #top-bar .left-side ul li a {
  padding: 8px 10px;
  margin: 0;
  color: #d5d5d5;
  display: inline-block;
  height: 36px;
}

@media (max-screen: 768px) {
  body header #top-bar .left-side ul li a {
    padding: 5px;
    font-size: 11px;
  }
}

body header #top-bar .left-side ul li a:hover, body header #top-bar .left-side ul li a:active {
  color: #FFFFFF;
  text-decoration: none;
}

body header #top-bar .left-side .navbar-btn {
  padding: 0;
}

@media (max-screen: 768px) {
  body header #top-bar .pull-right {
    float: none;
  }
}

@media (max-screen: 768px) {
  body header #top-bar .pull-right .social-icons {
    position: relative;
    margin: 0;
    padding: 0;
  }
}

body header #top-bar .pull-right .social-icons li {
  font-family: 'fontello';
}

body header #top-bar .pull-right .social-icons li a {
  background-color: #0071ce;
}

body header #top-bar .pull-right .social-icons li .twitter:hover {
  background-color: #3bc1ed;
}

body header #top-bar .pull-right .social-icons li .facebook:hover {
  background-color: #4a6d9d;
}

body header #top-bar .pull-right .social-icons li .gplus:hover {
  background-color: #d53824;
}

body header #top-bar .pull-right .social-icons li .pinterest:hover {
  background-color: #cb1f25;
}

body header #top-bar .pull-right .social-icons li .youtube:hover {
  background-color: #cb1f25;
}

body header .logo-and-cart {
  position: relative;
}

body header .logo-and-cart .logo-container {
  padding: 0;
  margin: -15px 0 0 0;
}

body header .logo-and-cart #additional-menu {
  padding: 0;
  margin: 10px 0 0 0;
  max-height: 95px;
}

body header .logo-and-cart #additional-menu ul {
  padding: 0;
  margin: 0;
  max-height: 95px;
}

body header .logo-and-cart #additional-menu ul li {
  padding: 5px 10px;
  margin: 0;
  max-height: 95px;
}

body header .logo-and-cart #shopping-cart-preview {
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  body header .logo-and-cart #shopping-cart-preview {
    position: absolute;
    top: 0;
    right: 0;
  }
}

body header .logo-and-cart #shopping-cart-preview .cart-btn {
  min-width: 80px;
  /*@media (min-width: 480px) and (max-width: 768px) { float: left; margin-left: -400px; }
                    @media (max-width: 479px) { margin-left: -300px; }*/
}

body header .logo-and-cart #shopping-cart-preview .cart-btn a {
  min-width: 130px;
  text-align: right;
}

body header .logo-and-cart #shopping-cart-preview #cart-list {
  position: absolute;
  padding: 10px;
  top: 50px;
  /*/*left: -50px;**/
  /*@media (min-width: 480px) and (max-width: 768px) {  }*/
}

body header .logo-and-cart .main-logo {
  margin: 30px 0 0 0;
  max-height: 96px;
  min-height: 51px;
  min-width: 300px;
}

body header .button:hover {
  background-color: #0071CE;
}

body header .main-nav {
  border: 0;
  padding: 0;
  margin: 0 auto 25px auto;
  height: 50px;
  background-color: #606060;
  border-radius: 0;
}

body header .main-nav .navbar-header {
  background-color: #606060;
  padding: 0;
  margin: 0;
}

body header .main-nav .navbar-header .navbar-toggle {
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  background-color: #606060;
  width: 100%;
  text-transform: uppercase;
}

body header .main-nav .navbar-header .navbar-toggle i {
  display: inline-block;
  font-size: 20px;
  margin: 0 5px 0 0;
  padding: 12px 15px;
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
}

body header .main-nav .navbar-header .navbar-toggle:hover, body header .main-nav .navbar-header .navbar-toggle:active {
  background-color: #0071CE;
}

body header .main-nav .navbar-header .home {
  background: rgba(0, 0, 0, 0.1);
  display: block;
  border: 0;
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 0;
}

body header .main-nav .navbar-header .home:hover, body header .main-nav .navbar-header .home:active {
  background-color: #0071CE;
}

body header .main-nav .navbar-header a.current {
  display: block;
  border: 0;
  height: 50px;
  width: 50px;
  padding: 17px;
}

body header .main-nav .navbar-collapse .navbar-nav {
  border: none;
  padding: 0;
  background-color: #606060;
  margin: 0;
  z-index: 20;
  /*position: absolute;*/
  /*@media (max-width: 768px) { margin-top: 50px; }*/
}

body header .main-nav .navbar-collapse .navbar-nav a.current {
  display: block;
  border: 0;
  height: 50px;
  padding: 18px 30px;
  background-color: rgba(0, 0, 0, 0.1);
}

body header .main-nav .navbar-collapse .navbar-nav a.current:hover, body header .main-nav .navbar-collapse .navbar-nav a.current:active {
  background-color: #0071CE;
}

body header .main-nav .navbar-collapse .navbar-nav a {
  color: #FFFFFF;
  background-color: #606060;
  display: block;
  padding: 15px 30px;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
}

body header .main-nav .navbar-collapse .navbar-nav a:hover, body header .main-nav .navbar-collapse .navbar-nav a:active {
  background-color: #0071CE;
}

body header .main-nav .navbar-collapse .navbar-nav .home {
  background: rgba(0, 0, 0, 0.1);
  display: block;
  border: 0;
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
}

body header .main-nav .navbar-collapse .navbar-nav .home:hover, body header .main-nav .navbar-collapse .navbar-nav .home:active {
  background-color: #0071CE;
}

@media (max-width: 768px) {
  body header .main-nav .navbar-collapse .navbar-nav .home {
    width: 100%;
  }
}

body header .main-nav .navbar-collapse .navbar-nav .home img {
  margin: 0 10px -5px 0;
  position: relative;
  top: 3px;
}

body header .main-nav .navbar-collapse .navbar-nav li {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  body header .main-nav .navbar-collapse .navbar-nav li {
    display: block;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  body header .main-nav .navbar-collapse .navbar-nav li ul {
    border: 0;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  body header .main-nav .navbar-collapse .navbar-nav li ul li {
    border: 0;
    padding: 0;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  body header .main-nav .navbar-collapse .navbar-nav li ul li a {
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    border: 1px solid #505050;
    display: block;
    padding: 10px 15px;
    background-color: #FFFFFF;
    color: #505050;
  }
  body header .main-nav .navbar-collapse .navbar-nav li ul li a:hover, body header .main-nav .navbar-collapse .navbar-nav li ul li a:active {
    background-color: #0071CE;
    color: #FFFFFF;
  }
}

body .sb-navigation-right:hover, body .sb-navigation-right:active, body .sb-navigation-left:hover, body .sb-navigation-left:active {
  background-color: #0071ce;
}

body .featured-marketing-section figcaption:hover, body .featured-marketing-section figcaption:active {
  background-color: #0071ce;
}

body footer #footer {
  padding: 5px;
}

body footer #footer-bottom {
  background-color: #0071ce;
}

body footer #footer-bottom .row {
  margin: 5px auto;
  padding: inherit 20px inherit 20px;
  width: 90%;
}

body footer #footer-bottom .row .payment-icons {
  padding: 0;
}

body footer #footer-bottom .row .payment-icons li {
  margin: 0 1px;
  padding: 0;
}

.modal-content {
  margin-top: 100px;
}

#site-content {
  min-height: 500px;
}

div.showbiz-container div.showbiz-navigation {
  width: 65px;
}

div.showbiz-container div.showbiz-navigation span {
  width: 24px;
  margin: 0;
}

select.form-control {
  padding: 5px 12px;
  outline: none;
  font-size: 13px;
  color: #999;
  margin: 0;
  max-width: 100%;
  display: block;
  background: #ffffff;
  border: 1px solid #c0c0c0;
  font-weight: 600;
}

.tooltip-inner {
  background-color: #0071ce;
  color: #FFFFFF;
  text-align: left;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #0071ce;
}

.label-primary {
  background-color: #0071ce;
  color: #FFFFFF;
}

.label-primary input {
  margin: 5px;
  position: relative;
  top: 3px;
}

.label-primary a:link, .label-primary a:visited {
  color: #FFFFFF;
  font-size: 12px;
}

.btn, .btn-primary, .btn-info {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#product-detail #product-slider {
  height: auto;
}

.quickShopModal {
  box-shadow: none;
}

.quickShopModal .modal-content {
  border-radius: 0;
  box-shadow: none;
  position: relative;
}

.quickShopModal .modal-content .modal-header {
  box-shadow: none;
  border-bottom: none;
}

.quickShopModal .modal-content .modal-body {
  border-bottom: none;
  /* Product Detail */
}

.quickShopModal .modal-content .modal-body #product-detail #product-slider {
  height: auto;
}

.quickShopModal .modal-content .modal-body #product-detail #control-container .variables {
  padding: 0 20px 0 20px;
}

.quickShopModal .modal-content .modal-body #product-detail #control-container .linking {
  padding: 0 20px 0 20px;
  margin-bottom: 0 !important;
}

.quickShopModal .modal-content .modal-body .options .btn-group {
  height: 40px;
  width: 400px;
  padding: 5px 15px;
}

.quickShopModal .modal-content .modal-footer {
  box-shadow: none;
  border-top: none;
  /*.share-container {
                position: absolute;
                top: 32%;
                left: 43%;
            }

            .input-group {
                position: absolute;
                bottom: 22%;
                left: 43%;

                .input-group-addon {
                    border-radius: 0;
                    text-align: center;
                    padding-right: 15px;
                }
            }*/
}

#quickshop-container {
  position: fixed;
  z-index: 9999999;
}

.view-checkout .cart-remove:before, .view-checkout .qtyminus:before, .view-checkout .qtyplus:before, .view-cart .cart-remove:before, .view-cart .qtyminus:before, .view-cart .qtyplus:before {
  content: none;
}

.view-checkout .qtyminus, .view-checkout .qtyplus, .view-checkout .cart-remove, .view-cart .qtyminus, .view-cart .qtyplus, .view-cart .cart-remove {
  padding-top: 10px;
}

.view-checkout .panel, .view-checkout .panel-heading, .view-checkout .panel-body, .view-checkout .panel-footer, .view-checkout .panel-default, .view-checkout .panel-default .panel-heading, .view-checkout .panel-default .panel-body, .view-checkout .panel-default .panel-heading, .view-cart .panel, .view-cart .panel-heading, .view-cart .panel-body, .view-cart .panel-footer, .view-cart .panel-default, .view-cart .panel-default .panel-heading, .view-cart .panel-default .panel-body, .view-cart .panel-default .panel-heading {
  box-shadow: none;
  border: none;
}

.view-checkout .panel .panel-heading, .view-cart .panel .panel-heading {
  margin: 0;
  padding: 0;
}

.view-checkout .panel .panel-body, .view-cart .panel .panel-body {
  padding: 5px;
}

.view-checkout .form-control, .view-cart .form-control {
  height: 35px;
  padding: 5px;
  border-radius: 0;
}

.view-checkout .well, .view-cart .well {
  border: 0;
  box-shadow: none;
}

.view-checkout button.button, .view-cart button.button {
  cursor: pointer;
  padding: 7px 14px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  outline: none;
  overflow: hidden;
  position: relative;
  z-index: 10;
  background-color: #0071CE !important;
  color: white;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  border: none;
  border-radius: 0;
}

.view-checkout button.button:hover, .view-cart button.button:hover {
  background-color: #00559b !important;
}

.view-checkout .active:before, .view-cart .active:before {
  color: #c0c0c0;
}

#view-cart button.button {
  cursor: pointer;
  padding: 7px 14px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  outline: none;
  overflow: hidden;
  position: relative;
  z-index: 10;
  background-color: #0071CE !important;
  color: white;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  border: none;
}

#view-cart button.button:hover {
  background-color: #00559b !important;
}

.view-item-card {
  margin: 0;
  padding: 0;
}

.view-item-card figure.product {
  width: 280px;
  height: 385px;
  margin: 20px 0 0 0;
}

.view-item-card figure.product div.mediaholder {
  background: transparent;
  padding: 0;
  border: none;
  overflow: hidden;
}

.view-item-card figure.product div.mediaholder a div.cover {
  width: 352px;
  height: 280px;
}

.view-item-card figure.product div.mediaholder a div.cover img {
  min-height: 150%;
  min-width: 150%;
  overflow: hidden;
  margin-top: -115px;
  margin-left: 60px;
  position: absolute;
  z-index: 99;
}

.view-item-card figure.product a section.list-item-description {
  width: 280px;
  min-height: 80px;
  padding: 18px inherit;
  margin: 0;
  text-align: center;
}

.view-item-card figure.product a section.list-item-description h5.item-description {
  margin: 1px;
  padding: 1px;
}

.view-item-card figure.product a section.list-item-description .product-price-discount {
  color: #888;
  padding: 0;
  margin: 1px;
}

.view-item-card figure.product a section.list-item-description .product-price, .view-item-card figure.product a section.list-item-description .product-price-discount {
  font-size: 16px;
  font-weight: 700;
  padding: 1px 0 5px 0;
  display: block;
}

.view-item .cart-remove:before, .view-item .qtyminus:before, .view-item .qtyplus:before {
  content: none;
  position: absolute;
}

.view-item .qtyminus, .view-item .qtyplus {
  padding-top: 5px;
}

.view-item .modal-content .cart-remove:before, .view-item .modal-content .qtyminus:before, .view-item .modal-content .qtyplus:before {
  content: none;
  position: absolute;
}

.view-item .modal-content .qtyminus, .view-item .modal-content .qtyplus {
  padding-top: 5px;
}

.view-item .btn-primary {
  text-align: center;
  vertical-align: middle;
  height: 40px;
  min-width: 125px;
  padding: 0 20px;
  position: relative;
}

.view-item .btn-primary i {
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0.1);
  margin: 0 10px -10px -20px;
  padding-top: 10px;
  display: inline-block;
  color: #FFFFFF;
}

.checkout .active span {
  color: #FFFFFF;
}

/*$lightblue: #24B5D4;
$lightblue-hover: #4299AD;

$darkblue-hover: #09192B;
$midblue: #234A69;
$paleblue: #BADBED;
$lightgreen: #9AC652;
$palegreen: #CEE5AF;
$lightgreen-hover: #8eba40;
$orange: #EF6431;
$orange-hover: #F06D33;*/
.well {
  margin-bottom: 0;
}

#top-bar {
  background: #0071CE !important;
  color: white !important;
}

.list-group .list-group-item a {
  color: #0071CE;
}

.list-group .list-group-item a:hover, .list-group .list-group-item a:active {
  color: darken #0071CE, 10%;
}

.menu > li:hover, .menu > li.sfHover {
  background-color: #0071CE !important;
}

input[type="button"], input[type="submit"], a.button {
  background-color: #0071CE !important;
  color: white !important;
}

input[type="button"]:hover, input[type="button"]:focus, input[type="button"]:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active, a.button:hover, a.button:focus, a.button:active {
  background-color: #00559b !important;
  color: white;
}

li.dropdown ul li a:hover {
  background-color: #0071CE;
}

.btn-primary {
  color: #fff;
  background-color: #0071CE;
  border-color: #0071CE;
  border-radius: 0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #00559b;
  border-color: #00559b;
}

.btn-primary:visited {
  color: #fff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #0071CE;
}

.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:active, .nav-pills > li.active > a:hover:hover, .nav-pills > li.active > a:hover:focus, .nav-pills > li.active > a:hover:active, .nav-pills > li.active > a:focus:hover, .nav-pills > li.active > a:focus:focus, .nav-pills > li.active > a:focus:active {
  background-color: #00559b !important;
}

.text-success.check {
  color: #0071CE;
}

.text-danger {
  color: #C80000 !important;
}

/*.text-danger {
    color: $blue;
}*/
.hover-icon {
  background-color: #0071CE !important;
}

.hover-icon:hover, .hover-icon:focus, .hover-icon:active {
  background-color: #00559b !important;
}

.cart-buttons a.checkout {
  background-color: #0071CE !important;
}

#footer {
  padding: 35px 0 0 0 !important;
}

#backtotop a:hover {
  background-color: #0071CE !important;
}

#view-enrollment-configuration .button:hover {
  background-color: #0071CE !important;
}

a.caption-btn:hover {
  color: #fff;
  background: #0071CE !important;
}

.text-blue {
  color: #0071CE;
}

.btn-wide {
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  border-radius: 0;
}

.list-pack {
  list-style: disc;
  font-size: 14px;
  margin-left: 30px;
}

.tp-leftarrow:hover, .tp-rightarrow:hover {
  background-color: #0071CE !important;
  color: #fff;
}

.pack {
  padding: 0;
  background-color: #F5F5F5;
  width: 100%;
}

.pack .inner-pack {
  padding: 20px 20px 0 20px;
}

.pack .pack-title {
  background-color: #0071CE;
  color: white;
}

.pack .pack-title h1 {
  color: white;
}

.pack .pack-title .inner-pack {
  padding: 20px;
}

.pack .pack-price {
  position: relative;
  margin-top: 60px;
  float: right;
}

.pack .pack-price .main-price {
  font-size: 30px;
  font-weight: bold;
  color: #0071CE;
}

.packSelected {
  border: 2px solid #0071CE;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.panel-default > .panel-heading {
  color: #fff;
  background-color: #606060;
  text-transform: uppercase;
  font-weight: 600;
  border: 0;
  border-radius: 0;
}

#cart-preview-items ul {
  display: block;
  position: relative;
}

#cart-list {
  margin-top: 0;
}

.carousel-control.left {
  background-image: none;
  background-repeat: no-repeat;
  position: absolute;
  top: 48%;
}

.carousel-control.right {
  background-image: none;
  background-repeat: no-repeat;
  position: absolute;
  top: 48%;
}

.carousel .carousel-inner .item .carousel-caption {
  width: 75vw;
  text-align: left;
  text-shadow: none;
}

.carousel .carousel-inner .item .caption h2 {
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 0 15px 0;
  letter-spacing: -1px;
  display: block;
}

.carousel .carousel-inner .item .caption h3 {
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0 0 20px 0;
}

.carousel .carousel-inner .item .caption-one {
  margin-left: -10%;
}

.carousel .carousel-inner .item .caption-two {
  margin-left: 35%;
  margin-bottom: 15%;
}

.carousel .carousel-inner .item .caption-three {
  margin-left: 40%;
  margin-bottom: 15%;
}

.carousel .carousel-inner .item .caption-four {
  margin-left: -10%;
  margin-bottom: 15%;
}

.panel, .panel-heading, .panel-body, .panel-title {
  border: 0;
  box-shadow: none;
}

#view-home .featured-marketing-section {
  margin-top: 25px;
}

#view-home .parallax-title {
  height: 200px;
  padding-top: 75px;
}

@media (max-width: 968px) {
  #view-home .parallax-title {
    font-size: 25px;
  }
}

#view-home .parallax-title span.author-name {
  font-size: 12px;
}

#view-home .parallax-banner {
  max-height: 200px;
}

#view-home .graybutton {
  background: #c0c0c0 !important;
}

#view-home .graybutton:hover {
  background: #00559b !important;
}

#view-contact .textarea {
  padding: 10px 12px;
  outline: none;
  font-size: 13px;
  color: #999;
  margin: 0;
  max-width: 100%;
  display: block;
  background: #f5f5f5;
  border: 1px solid #efefef;
  font-weight: 600;
}

#view-contact select, #view-contact select > option {
  padding: 5px 8px;
  outline: none;
  font-size: 13px;
  color: #999;
  margin: 0;
  max-width: 100%;
  display: block;
  background: #f5f5f5;
  font-weight: 600;
  border: 1px solid #efefef;
}

/*$lightblue: #24B5D4;
$lightblue-hover: #4299AD;

$darkblue-hover: #09192B;
$midblue: #234A69;
$paleblue: #BADBED;
$lightgreen: #9AC652;
$palegreen: #CEE5AF;
$lightgreen-hover: #8eba40;
$orange: #EF6431;
$orange-hover: #F06D33;*/

/*# sourceMappingURL=site.css.map */