@import "../color/_colors";


#auto-order-manager {
    .orderinfo {
        .panel { border: 1px solid #888; margin-bottom: 15px;
                 .panel-heading { border-bottom: 1px solid #888; 
                                  .panel-title { padding-left: 10px;  }
                 }
        }
    }

    .item-list { 
        .fa-times-circle { position: relative; top: 8px; }
    }

    .item-control-heading { padding:20px 0; border-bottom: 1px solid #aaa; }
    .auto-order-module { padding: 15px; 
        [class*='row'] { margin-left:0 !important; margin-right:0 !important; }
    }

    .auto-order-module-btn { margin: 15px; }

    .auto-item { border: 1px solid #999;
        .auto-top { background-color: lightgray; padding: 10px; font-size: 10px; 
            
            .auto-title {  }
            .textHighlighted{
                color:#0071ce;
                font-weight:600;
                font-size: 13px;
            }
        }

        .products {
            .auto-heading { padding: 10px 20px 10px 20px; margin-right:-15px;}

            .item-list { 
                li { padding:20px; }
            }
        } 

        .order-info { padding-left: 0; }
    }
    /*accordion*/
    #accordion .glyphicon {
        margin-right: 10px;

        .panel-collapse > .list-group .list-group-item:first-child {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }

        .panel-collapse > .list-group .list-group-item {
            border-width: 1px 0;
        }

        .panel-collapse > .list-group {
            margin-bottom: 0;
        }

        .panel-collapse .list-group-item {
            border-radius: 0;
        }

        .panel-collapse .list-group .list-group {
            margin: 0;
            margin-top: 10px;
        }

        .panel-collapse .list-group-item li.list-group-item {
            margin: 0 -15px;
            border-top: 1px solid #ddd;
            border-bottom: 0;
            padding-left: 30px;
        }

        .panel-collapse .list-group-item li.list-group-item:last-child {
            padding-bottom: 0;
        }

        .panel-collapse div.list-group div.list-group {
            margin: 0;
        }

        .panel-collapse div.list-group .list-group a.list-group-item {
            border-top: 1px solid #ddd;
            border-bottom: 0;
            padding-left: 30px;
        }
    }
  
}


// old
#auto-order {
    .auto-order-module { padding:15px; }
    .auto-order-link {
        white-space: nowrap;

        &[type=submit] {
            background: transparent;
            border: none;
        }
    }

    .auto-order-table {
        border: 1px solid gray;
        color: GrayText;
        font-size: small;
        margin-bottom: 40px;
        width: 98%;

        th {
            color: darkgray;
            border-bottom: 1px solid gray;

            h3 {
                margin: 0;
            }
        }

        td {
            border-right: 1px solid gray;
            border-bottom: 1px solid gray;

            .order-number {
                font-size: 16px;
            }

            p {
                font-size: 12px;
                font-weight: bold;
                max-width: 180px;
            }

            span {
                color: #0071ce;
            }

            address {
                color: #0071ce;
            }

            &.auto-order-Col1 {
                width: 650px;
            }
        }

        td, th {
            padding: 10px 2px 10px 10px;
            vertical-align: top;
        }

        p {
            margin-bottom: 0;
        }

        .scrollable {
            max-height: 400px;
            overflow: auto;
        }

        .orange-link {
            span {
                color: orange;
            }

            display: block;
            margin-bottom: 20px;
            text-transform: uppercase;
            text-align: right;
            margin-right: 10px;
        }

        .items-table {
            td {
                border-right: none;
                border-bottom: none;
                padding-left: 0;
                vertical-align: middle;

                img {
                    max-width: 60px;
                }

                a {
                    color: #0071ce;
                }
            }
        }

        .row {
            margin-bottom: 20px;
        }
    }

    .auto-order-item-list {
        list-style: none;
        padding-left: 0;

        li {
            margin-bottom: 10px;

            .row {
                display: table;

                div {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }

    .nav-tabs {
        width: 100%;

        li {
            text-align: center;
            width: 49.5%;

            &:first-child {
                margin-right: 1%;

                a {
                }
            }

            a {
                border-color: gray;
                border-radius: 0 !important;
                font-size: 14px;
                padding: 20px;
                margin-right: 0;
            }

            &.active {
                a {
                    border-bottom-color: #fff;
                }
            }
        }
    }

    .auto-order-cart-name {
        color: darkblue;
    }

    .auto-order-cart-value {
        color: #0071ce;
        margin-right: 12px;
    }

    .tab-content {
        border: 1px solid gray;
        border-top: none;

        header, tfoot {
            font-size: 16px;
            padding: 10px;
            padding-bottom: 0;
            margin-top: 20px;

            .auto-order-link {
                &:first-child {
                    margin-right: 12px;
                }
            }
        }
    }

    #auto-order-addtocart {
        header {
            font-size: 14px !important;
            margin-bottom: 10px;
        }

        #additional-items-container {
            max-height: 400px;
            overflow-y: scroll;

            .table {
                margin-top: 0 !important;

                thead {
                    height: 0;
                    width: 0;
                    border: 0;

                    th {
                        padding: 0;
                    }
                }
            }
        }
    }

    .auto-order-cart-table, .auto-order-addtocart-table {
        background-color: #fff;
        margin-top: 20px;

        .cart-category {
            background-color: lightgray;
            color: GrayText;
        }

        .scrollable {
            max-height: 680px;
            overflow: auto;
        }

        tfoot {
            border-top: 1px solid gray;
        }

        tbody {
            &#order-items {
                img {
                    width: 50px;
                }
            }
        }

        td, th {
            vertical-align: middle;
            padding: 10px;

            p {
                color: GrayText;
                margin: 0;
            }

            .check-icon {
                font-size: 20px;
                color: green;
                margin-left: 10px;
            }
        }

        thead {
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
            font-size: small;

            th {
                color: GrayText;
                font-weight: normal;
            }
        }

        .txtQty {
            text-align: center;
        }

        .auto-order-cart-price {
            color: #0071ce;
            font-size: 18px;
        }
    }

    .fht-table-wrapper {
        height: 680px !important;
    }

    .fht-table-init thead {
        display: none;
    }


    .auto-order-date, .auto-order-shipping, .auto-order-payment, .auto-order-shipmethod {
        margin-top: 0;
        padding: 0;

        h3 {
            color: darkblue;
            font-size: 20px;
            margin-top: 0;
        }

        .row-head {
            border-bottom: 1px solid gray;
            margin: 0;
            padding: 10px;
        }

        .row-body {
            margin: 0;
            padding: 10px;

            #ddFrequency {
                width: 100%;
                height: 30px;
            }

            .calendar-input {
                width: 100%;
                height: 30px;
                background-color: #fff;
                padding: 6px 6px 0 6px;
                margin-bottom: 40px;
                cursor: pointer;
                border: 1px solid gray;

                .fa-calendar {
                    float: right;
                }
            }

            #popover_content_wrapper {
                display: none;
            }
        }
    }

    .auto-order-payment {
        [class^="auto-order-payment-"] {
            padding: 0;
        }

        color: GrayText;

        h4 {
            color: darkblue;
            margin: 0;
            margin-left: 0;
        }

        .txtCVV {
            width: 30px;
            height: 20px;
        }

        em {
            text-transform: none;
        }

        strong {
            color: darkblue;
            font-weight: normal;
            font-size: 16px;
            text-transform: none;
        }

        input {
            cursor: pointer;
        }

        label {
            color: GrayText;
            font-weight: normal;
            font-size: 16px;
            text-transform: none;
            cursor: pointer;
        }

        .auto-order-payment-summary {
            margin-top: 0;

            .row-head {
                border-bottom: none;
            }
        }
    }

    .auto-order-shipping {
        input {
            width: 100%;
            margin: 20px 0;
            border: none;
            border-bottom: 1px solid gray;
            font-size: 16px;
        }
    }

    .btn-margin-10 {
        margin-bottom: 10px;
    }

    .item-split {
        background-color: darkgray;
        width: 100%;
        height: 1px;
    }
}


.panel-group {
        margin-bottom:0;
    .panel {
    border-radius: 0;
    box-shadow: none;
    
}}

.panel-group .panel + .panel {
    margin-top: -1px;
}
/*.panel-title{
    padding:20px; // Alan C Commented out on 18 March - was adding too much padding to side navigation on Backoffice pages
}*/
.panel-default {
    margin-top: 0;
    border-right:0;
    border-left:0;

    .panel-heading {
        background-color: white;
        border-radius: 0;

    }
}