@import "../mixins/_mixins.scss";

.view-item { /*.image { text-align: center; }

    &.view-item-card {
        .details { margin-top: 10px;
            .itemdescription { font-size: 1.1em; height: 2.8em; overflow: hidden; }
            .price { margin-top: 10px; font-size: 1em; }
            .itemcode {  }
        }
        .image { height: 150px; overflow: hidden; 
            img { max-height: 150px; }
        }*/ /*}*/
    .product-price-discount {
        text-decoration: none;

        span {
            i {
                background-color: none;
            }
        }
    }

    &.view-item-sushi { /*.details { margin-top: 10px;
            .itemdescription { font-weight: bold;font-size: 1.1em; height: 1.8em; overflow: hidden;}
            .price { margin-top: 0; font-size: 1em; }
            .itemcode {  }
        }
        .image { height: 100px; overflow: hidden; float:left;padding-right:5px;
            img { max-height: 100px; } 
        }

        .options { @include opacity(0); @include transition(opacity 0.08s linear); }
        &:hover .options { @include opacity(100); }*/
    }

    &.view-item-detail { /*.image { height: 200px; overflow: hidden; 
            img { max-height: 200px; }
        }
        .details { 
            .itemdescription { font-size: 1.4em; }
            .itemcode { color: #aaa; font-size: 0.85em; padding-bottom: 10px; border-bottom: 1px solid #ddd; }
            .price { margin-top: 15px; font-size: 1.2em; }
        }
        .summary { font-size: 1.1em; margin-top: 3em; }
        .options {*/ /*}*/
    }
}

#product-detail {
    .left-side {
        min-height: 800px;
        min-width: 600px;

        .right-side {
            .linking {
                .qtyminus, .qtyplus {
                    padding-right: 15px;
                    text-align: center;
                }

                input {
                    border-radius: 0;
                }
            }

            
        }
    }
}


.product-price-discount i {
    background-color: none;
}

.strikePrice {
    text-decoration: line-through;
}

.activePrice {
    background-color: #ffecb7;
}

.product {
    margin: 30px 5px 5px 5px;
    position: relative;

    div.mediaholder {
        /*width: 280px;*/
        position: relative;

        a.product-button { 
            &:hover {
                background-color: #0071CE;
                color: #fff;
            }

            i {
                margin-right: 4px;
                top: -1px;
                position: relative;
            }
        }
    }
}

a.quick-shop-button {
    color: #fff;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 13px 0;
    width: 100%;
    top: -45px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    

    &:hover {
        background: rgba(0, 0, 0, 0.65); color: #FFFFFF;
    }
}

.quick-shop-not-hovered {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: transform 0.3s, opacity 0.1s 0.3s;
    -moz-transition: transform 0.3s, opacity 0.1s 0.3s;
    -o-transition: transform 0.3s, opacity 0.1s 0.3s;
    transition: transform 0.3s, opacity 0.1s 0.3s;
}

.quick-shop-hovered {
    -webkit-transition: transform 0.3s, opacity 0.1s, background 0.35s;
    -moz-transition: transform 0.3s, opacity 0.1s, background 0.35s;
    -o-transition: transform 0.3s, opacity 0.1s, background 0.35s;
    transition: transform 0.3s, opacity 0.1s, background 0.35s;
    opacity: 1;
    -webkit-transform: translateY(0p);
    -moz-transform: translateY(0p);
    -ms-transform: translateY(0p);
    -o-transform: translateY(0p);
    transform: translateY(0p);
}

div.description-container {
    position: relative;
}

.list-item-description {
            position: relative;
            height: 75px;
            display: block;
            z-index: 9990;

            span {
                background-color: #f6f6f6;
            }
        }

.tabs-nav {
    li {

            @media (max-width: 487px) {
            width: 100vw;
            }

        
    }
}

.share-options {
    list-style: none; padding: 0;

    li {
        padding: 0; margin: 0; display: inline;

        a:link, a:visited { color: #FFFFFF; padding: 5px 10px; font-weight: 800; font-size: 16px;
        &:hover, &:active { color: #888; }

        }
    }
}